html{
	background-color:#2F2F2F;
}

body{
	height: 100%;
	background-color:rgb(245, 245, 245);
}


#mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, #EDEDED),
	color-stop(0.08, #EAEAEA),
	color-stop(1, #2F2F2F),
	color-stop(1, #AAAAAA)
);
background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  position:fixed;
  width:95%;
  margin-left: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

body, #mainWrapper, .form-control{
	font-size:12px!important;
}

#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 10%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.authbar{
	margin-bottom:15px;
}

html{
	background-color:#2F2F2F;
}

body{
	height: 100%;
	background-color:rgb(245, 245, 245);
}


#header {
    margin-left:17%;
    top: 0px;
    width: 83%;
	height: 14%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    background-color: #1E90FF;
    border-bottom: 2px solid hsl(180,70%,55%);
    padding-top:20px;
    text-align:center;
}

#header1 {
    margin-left:17%;
    top: 0px;
    width: 83%;
	height: 6%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size:12px!important;
    color: 242622;
    z-index: 15;
    text-transform: uppercase;
    background-color: #1E90FF;
    border-bottom: 2px solid hsl(180,70%,55%);
    padding-top:20px;
    text-align:center;
}

#footer {
	margin-left:17%;
    left: 0px;
    bottom: 0px;
    width: 83%;
	height: 10%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #242622;
    z-index: 15;
    text-transform: uppercase;
    background-color: #1E90FF;
	padding-top:20px;   
    text-align:center;
}


#sidemenu {
    width: 17%;
    background-color:#1E90FF;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    margin-top:
}

#sidemenu #menu {
    color: #fff;
    text-align: right;
    list-style-type: none;
    margin-right: 10px;
    float: right;
}

#sidemenu #menu li {
    width: 230px;
    height: 35px;
    font-size: 1.2em;
    padding-right:5px;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#sidemenu #menu li:active{
	border-left: 5px solid hsl(180,70%,55%);
}

#sidemenu #menu li:hover {
    background-color: #4169E1;
    border-left: 5px solid hsl(180,70%,55%);
}

.logo{
	float:center;
	 padding-right:5px;
}

#site-content {
    width: 80%;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    min-height: 600px;
    margin-top:10%;
    margin-bottom:10%;
    margin-left:20%;
    padding-left:10px;
}
    
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
 /*  background: #FFFFFF; */
  background:#0b01158f;
  max-width: 360px;
  margin: 1px 1px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.login-page .form .btn-black{ background:#346babb8; }
.login-page .form .btn-black:hover{ background:#3448abb8; }
/* body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
} */
.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}
/* Eric Added: Login Page Navbar White */
.navbar.navbar-inverse {
    background-color: white; /* Changed from #303136; to white */
    border-radius: 0 ;
    height: auto;
    min-height: 56px; /* To match the Logo height */
}
.navbar-custom {
	background-color: white;
}
/* Eric Added: Login Page Navbar left right padding */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 0px; /* Change from auto to 0px */
}

/* Eric Added: Change margin-bottom from 20px to 0px */
.navbar {
	margin-bottom: 0px;	
}

 .footer { 
background:white; /* Footer color according to GETS UI guidelines */
padding: 8px 20px 20px 20px;
}

.footer .footer-inner {
    margin-top: 12px;
	color: #666; /* Set Footer Text Color to GETS UI guidelines */
}

.footer .footer-tools .go-top {
    background: #d71635 none repeat scroll 0 0;
    padding: 10px 16px;
}

.footer .footer-tools .go-top .fa{ color:#fff;}
#footer {
	margin-left:0%;
	margin-top: 10px;
    left: 0px;
    bottom: 0px;
    width: 100%;
	height: 7%;
	position: fixed;
	font-family: "Roboto", sans-serif;
	/* font-family: 'bgMed',arial,helvetica,sans-serif; */
    font-size: 0.8em;
    color: #666;
    z-index: 15;
    /* text-transform: uppercase; */
    /* background-color: #1E90FF; */
	padding-top:20px;   
    text-align:center;
    background:white
}

.bg-home{
background-color:#3d8e0f!important;
background-image: url("${pageContext.request.contextPath}/static/vendor/bootstrap/css/BctsWeb.jpg");
background-repeat: no-repeat;
background-size:cover;
height:-webkit-fill-available
}